#header {
    display: flex;
    background-color: white;
    height: 55px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 15px;
    justify-content: space-between;
}

#header>span {
    padding-right: 30px;
    padding-top: 8px;
}

#header>img {
    padding-left: 20px;
    max-height: 35px;
    vertical-align: middle;
}